{% extends 'resto.html' %}

{% block content %}
<div class="max-w-lg  mx-auto bg-white p-6 w-full rounded-lg shadow-md mt-10">
    <h2 class="text-2xl font-bold text-center mb-4">Réserver une Table</h2>

    <!-- Messages de confirmation ou d'erreur -->
    {% if messages %}
        <div class="mb-4">
            {% for message in messages %}
                <div class="p-3 rounded-lg {% if message.tags == 'success' %}bg-green-100 text-green-700{% else %}bg-red-100 text-red-700{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <form method="post" class="space-y-4 w-full">
        {% csrf_token %}
        
        <!-- Champs du formulaire -->
        <div>
            <label for="{{ form.nom_client.id_for_label }}"  aria-placeholder="{{ user.email }}" class="block text-gray-700">Nom</label>
            {{ form.nom_client }}
        </div>
        <div>
            <label for="{{ form.telephone.id_for_label }}" class="block text-gray-700">Téléphone</label>
            {{ form.telephone }}
        </div>

        <div>
            <label for="{{ form.table.id_for_label }}" class="block text-gray-700">Table</label>
            {{ form.table }}
        </div>

        <div>
            <label for="{{ form.date_reservation.id_for_label }}" class="block text-gray-700">Date</label>
            {{ form.date_reservation }}
        </div>

        <div>
            <label for="{{ form.heure_reservation.id_for_label }}" class="block text-gray-700">Heure</label>
            {{ form.heure_reservation }}
        </div>

        <div>
            <label for="{{ form.nombre_personnes.id_for_label }}" class="block text-gray-700">Nombre de Personnes</label>
            {{ form.nombre_personnes }}
        </div>

        <!-- Bouton de soumission -->
        <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 transition duration-200">
            Réserver
        </button>
    </form>
</div>
{% endblock %}
